<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LeHongPhong_14110409_bai3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>260B59AA1F0CDC4B00E06BB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>260B59BE1F0CDC4B00E06BB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>260B59C91F0CDC4B00E06BB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
